
<div class="row">
  
  <!-- <div class="col-md-12" *ngIf="posts.length != 0">
    <div class="post post-thumb">
      <a class="post-img" href="blog-post.html"><img src="./img/post-2.jpg" alt=""></a>
      <div class="post-body">
        <div class="post-meta">
          <a class="post-category cat-3" href="category.html"*ngFor="let tag of posts[0].tags">{{tag}}</a>
          <span class="post-date">{{posts[0].date | date}}</span>
        </div>
        <h3 class="post-title"><a href="blog-post.html">{{posts[0].title}}</a></h3>
      </div>
    </div>
  </div> -->
  
  <div class="col-md-6" *ngFor="let post of posts">
    <div class="post">
      <a class="post-img" [routerLink]="['post',post.slug]"><img src="/uploads/{{post.image}}" alt=""></a>
      <div class="post-body">
        <div class="post-meta">
          <a class="post-category cat-4" href="#" *ngFor="let tag of post.tags">{{tag}}</a>
          <span class="post-date">{{post.date | date}}</span>
        </div>
        <h3 class="post-title"><a [routerLink]="['post',post.slug]">{{post.title}}</a></h3>
      </div>
    </div>
  </div>
  
</div>
