<div class="row">
  <div class="col-sm-12">
      <div class="form-group">
          <button class="btn btn-success" routerLink="/admin/posts/edit">Add Post</button>
      </div>
      <div class="panel panel-default">
          <div class="panel-heading">
              <div class="panel-title">Posts</div>
          </div>
          <div class="panel-body">
              <table class="table table-responsive">
                  <tr>
                      <th>#</th>
                      <th>Title</th>
                      <th>Author</th>
                      <th>Status</th>
                      <th>Action</th>
                      <th>Posted on</th>
                  </tr>
                  <tr *ngFor="let post of posts;let i=index">
                      <td>{{ i+1 }}</td>
                      <td>{{ post.title }}</td>
                      <td>{{ post.author ? post.author.name.first:'' }}</td>
                      <td>{{ post.published ? 'Published':'Un Published' }}</td>
                      <td>
                          <a [routerLink]="['/admin/posts/edit',post.slug]">Edit </a>
                          <a (click)="onDelete(post._id)">Delete</a>
                      </td>
                      <td>{{post.date | date}}</td>
                  </tr>
              </table>
          </div>
      </div>
  </div>
</div>